
/* .toggle{
    width: 2rem;
    height:1rem;
    border-radius: 50px;
    border: 1px solid #E55604;
    position: relative;
}
.notch{
    width: 0.9rem;
    height:0.9rem;
    border-radius: 50px;
    background-color: #E55604;
    position: absolute;
    top:0.03rem;
    left:0.1rem;
}
 */
